<form class="m-auto my-4 w-50 " th:fragment="form" xmlns:th="http://www.thymeleaf.org">
    <h1 class="mb-4">Ajouter un formateur</h1>
    <div class="mb-3">
        <label class="form-label" for="exampleInputEmail1">Email address</label>
        <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" type="email">
    </div>
    <div class="mb-3">
        <label class="form-label" for="exampleInputPassword1">Password</label>
        <input class="form-control" id="exampleInputPassword1" type="password">
    </div>
    <div class="text-center">
        <button class="btn btn-primary w-50 mt-3" type="submit">Valider</button>
    </div>
</form>