<form class="m-auto my-4 w-50 " id="idForm" th:fragment="form" th:object="${teacher}"
      xmlns:th="http://www.thymeleaf.org">
    <h1 class="mb-4">Ajouter un formateur</h1>
    <div class="mb-3">
        <label class="form-label" for="lastname">Nom :</label>
        <input class="form-control" id="lastname" name="lastname" placeholder="Nom du formateur (40 caractères maximum)"
               th:field="*{lastname}"
               type="text">
        <span class="text-danger" id="idErrorLastname" th:style="${'visibility: hidden;'}"
              th:text="${'Le nom du formateur doit être saisi (40 caractères maximum)'}"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" for="firstname">Prénom :</label>
        <input class="form-control" id="firstname" name="firstname"
               placeholder="Prénom du formateur (40 caractères maximum)"
               th:field="*{firstname}"
               type="text">
        <span class="text-danger" id="idErrorFirstname" th:style="${'visibility: hidden;'}"
              th:text="${'Le prénom du formateur doit être saisi (40 caractères maximum)'}"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" for="salary">Salaire :</label>
        <input class="form-control" id="salary" name="salary"
               placeholder="Salaire du formateur"
               th:field="*{salary}"
               type="text">
        <span class="text-danger" id="idErrorSalary" th:style="${'visibility: hidden;'}"
              th:text="${'Veuillez saisir un salaire valide'}"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" for="urlPhoto">Url Photo :</label>
        <input class="form-control" id="urlPhoto" name="urlPhoto"
               placeholder="Url de la photo du formateur (255 caractères au maximum)"
               th:field="*{urlPhoto}"
               type="text">
        <span class="text-danger" id="idErrorUrlPhoto" th:style="${'visibility: hidden;'}"
              th:text="${'Veuillez saisir une url de photo valide (255 caractères au maximum)'}"></span>
    </div>
    <div class="text-center mt-4">
        <button class="btn btn-primary w-25" type="submit">Valider</button>
    </div>
</form>

<script>
    var form = $('#idForm');
    // Je veux intervenir sur la chaine d'envoi des données pour pouvoir tester la validité des données


    form.on("submit", function (e) {
        e.preventDefault();

        form.attr({method: "POST", action: "javascript:loadSaveConfirmation()"});
        e.currentTarget.submit();
    })

    function loadSaveConfirmation() {
        $("#content").load("saveTeacher", {
            test: form.serialize()
        });
    }

    /*
    form.on("submit", function (e) {
        e.preventDefault();

        let donneesForm = $("#idForm").serialize();

        $.ajax(
            {
                url: 'http://localhost:8080/saveTeacher',
                type: 'POST',
                data: donneesForm
            }
        )
            .done(function () {
                loadSaveConfirmation();
            })
            .fail(function () {
                alert("L'envoi des données du formulaire a échoué")
            })
    })

    function loadSaveConfirmation() {
        $("#content").load("saveTeacher", {
            test: "test"
        });
    }

     */


</script>